<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About - Expert Fund Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.png and root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">

    <!-- All css here -->

    <!-- bootstrap 4.0 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Icon font css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>


<body>
    <!-- preloader  -->
    <div id="preloader"></div>
    <!-- Start header -->
    <header class="header-one">
        <!-- Start top bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-sm-8 col-xs-12">
                        <div class="topbar-left">
                            <ul>
                                <li><a href=""><i class="fa fa-envelope"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-clock-o"></i> Live Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="topbar-right">
                            <select class="select d-inline-block">
                                <option>Eng</option>
                                <option>Esp</option>
                                <option>Fra</option>
                                <option>Deu</option>
                            </select>
                            <ul>
                                <li><a href="/login"><img src="img/icon/login.png" alt="">Login</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- Start Header Menu -->
        <div id="sticker" class="header-menu-area header-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 d-flex align-items-center">
                        <div class="logo">
                            <!--<a href="/"><img src="img/logo/logo.jpg">-->
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-9">
                        <div class="header-right">
                            <a href="/mysqlsignup" class="hd-btn">Signup</a>
                        </div>
                        <div class="header_menu f-right">
                            <nav id="mobile-menu">
                                <ul class="main-menu">
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/user-panel">Dashboard</a></li>
                                    <li><a href="/plan">Investment</a></li>
                                    <li class="menu-item-has-children"><a href="">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/review">Reviews</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/ourteam">Our teams</a></li>
                                            <li><a href="/terms">Terms & Conditions</a></li>
                                            <li><a href="/mysqllogin">Login</a></li>
                                            <li><a href="/mysqlsignup">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="/blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="/blog">Blog</a></li>
                                            <li><a href="/blog-details">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="contact"><a href="/contact">Contacts</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Menu -->
    </header>
    <!-- End header area -->
    <main>
        <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>About Us</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items"><a class="black-text" href="/index">Home</a><i
                                                class="ti-angle-right" aria-hidden="true"></i></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="/about">About us</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start How to area -->
        <div class="how-to-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>HOW TO START</h2>
                            <p>
                            <h3>Get involved in our tremendous platform and Invest. We will utilize your money and
                                give you profit in your wallet automatically.</h3>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how first-item">
                            <div class="how-img">
                                <span class="h-number">01</span>
                                <a class="big-icon" href=""><img src="img/about/h1.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Get Access</h4>
                                    <p>Creat an Account and Register</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how ">
                            <div class="how-img">
                                <span class="h-number">02</span>
                                <a class="big-icon" href="/about"><img src="img/about/h2.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Investment</h4>
                                    <p>Start Investing early now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how thired-item">
                            <div class="how-img">
                                <span class="h-number">03</span>
                                <a class="big-icon" href=""><img src="img/about/h3.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h4>Get Profit</h4>
                                    <p>invest with us an earn more</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End How to area -->
        <!-- Start About Area -->
        <div class="about-page-area bg-color fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>About Us</h2>
                            <p>
                            <h4>Our investment portfolio spans the power, energy, financial
                                services, hospitality, real estate, healthcare, and technology sectors,
                                operating in more than twenty-four countries worldwide.</h4>
                            </p>
                            <p>
                            <h4>we're inspired by our
                                Chairman,
                                Warren Buffet, CFR that the private sector is
                                the key enabler of economic and social wealth creation in North America.</h4>
                            </p>
                            <p>
                            <h4>Driven by this philosophy, we invest for the long-term,
                                bringing strategic capital, sector expertise, a track record of business
                                turnaround success and operational excellence to companies we invest in.</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg- col-md-12">
                        <div class="about-page-image">
                            <img src="img/blog/b3.jpg" alt="">
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-wraper">
                            <div class="about-page-text">
                                <h2>About Expert Fund Management</h2>
                                <p>
                                <h4>Expert Fund Management is a Professional, and Reliable fund Management platform.
                                    We provide you with the most necessary features that will make your experience
                                    better.
                                    Not only we guarantee the fastest and the most exciting returns on your funds,
                                    but we also guarantee the security of your fundsat all cost.</h4>
                                </p>
                            </div>
                        </div>
                        <!-- Start services -->
                    </div>
                </div>
            </div>
            <!-- End About Area -->
            <!-- Team area start -->
            <div class="team-area bg-color-2 area-padding-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="section-headline text-center">
                                <h2>Our Expert Team Members</h2>
                                <p>
                                <h3>Our Team Members are here to Assist you in anyway.</h3>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/CEO.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Hamilton</a></h4>
                                    <p>CEO</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/Marketing.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Mickhel</a></h4>
                                    <p>Marketing head</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/Designer2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Arnold</a></h4>
                                    <p>Designer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/socialmarketer.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Gonjamul</a></h4>
                                    <p>Social marketer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/Designer.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Shopia</a></h4>
                                    <p>designer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="img/team/Director.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Anderson</a></h4>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="img/team/Social2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">jenia</a></h4>
                                    <p>Social marketer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                        <div class="col-xl-3 col-lg-3 col-md-6">
                            <div class="single-member">
                                <div class="team-img">
                                    <a href="">
                                        <img src="img/team/Developer.jpg" alt="">
                                    </a>
                                </div>
                                <div class="team-content">
                                    <h4><a href="">Ronald</a></h4>
                                    <p>developer</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single team member -->
                    </div>
                </div>
            </div>
            <!-- team area end -->
            <!-- Start FAQ area -->
            <div class="faq-area bg-color area-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="section-headline text-center">
                                <h2>Frequently Asked Questions</h2>
                                <p>We answer some of your Frequently Asked Questions regarding our platform.
                                    If you have a query that is not answered here, Please contact us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Column Start -->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="company-faq-left">
                                <div class="faq_inner">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingOne">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                        1. when can i deposite/withdraw from my investment account?
                                                    </button>
                                                </h4>
                                            </div>

                                            <div id="collapseOne" class="collapse show " aria-labelledby="headingOne"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    Deposit and withdrawal are available for at any time. Be sure, that
                                                    your funds are not used in
                                                    any ongoing trade before the withdrawal. The available amount is
                                                    shown in your dashboard on the
                                                    main page of Investing platform.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingTwo">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseTwo" aria-expanded="false"
                                                        aria-controls="collapseTwo">
                                                        2. How do i check my account balance?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordion">
                                                <div class="card-body">You can see this anytime on your accounts
                                                    dashboard
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingThree">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseThree" aria-expanded="false"
                                                        aria-controls="collapseThree">
                                                        3. How much can i withdraw?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    You can withdraw the full amount of your account balance at any time
                                                    minus the funds that are
                                                    used currently for supporting opened positions.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingFour">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseFour" aria-expanded="false"
                                                        aria-controls="collapseFour">
                                                        4. How can i confirm my withdrawal?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    You will get an automatic notification once we send the funds and
                                                    you can
                                                    always check your transactions or account
                                                    balance. Your chosen payment system dictates how long it will take
                                                    for the funds to reach you.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingFive">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseFive" aria-expanded="false"
                                                        aria-controls="collapseFive">
                                                        5. How can i reset my password?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    Visit the password reset page, type in your email address and click
                                                    the `Reset` button.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End FAQ -->
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="company-faq">
                                <div class="faq_inner">
                                    <div id="accordion_2">
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingSix">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseSix" aria-expanded="false"
                                                        aria-controls="collapseSix">
                                                        6. How are my funds protected?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                                data-parent="#accordion_2">
                                                <div class="card-body">
                                                    Your funds are generally held in an independent custodial account
                                                    operated by a third-party,
                                                    who have been appointed to provide custody services to the
                                                    particular provider.
                                                    This ensures that there is complete separation of client assets from
                                                    Diligent Wealth as a business.
                                                    The custodial account is also made to ensure that all assets,
                                                    including the bank accounts, are ring-fenced from the particular
                                                    custodian’s business. The custodians monitor the investments made
                                                    ensuring they are consistent with what investors should expect.
                                                    The custodians are usually audited annually along with reporting
                                                    required by the FMA.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingSeven">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseSeven" aria-expanded="false"
                                                        aria-controls="collapseSeven">
                                                        7. How do I set up an investment plan?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                                data-parent="#accordion_2">
                                                <div class="card-body">
                                                    You can pick from our varieties of plan or talk to us today for a
                                                    free no
                                                    obligation meeting where we can discuss what your
                                                    investment goals are and the options we have available to help you
                                                    achieve your goals.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingEight">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseEight" aria-expanded="false"
                                                        aria-controls="collapseEight">
                                                        8. Do I have to pay tax on my funds?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                                data-parent="#accordion_2">
                                                <div class="card-body">
                                                    No you don't have to however we have a range of investment funds
                                                    available that are Zero-Rated PIE
                                                    which means you will only pay tax at your prescribed investor rate
                                                    rather than your personal tax rate,
                                                    potentially saving you tax.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingNine">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseNine" aria-expanded="false"
                                                        aria-controls="collapseNine">
                                                        9. How to successful our business plan?
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                                data-parent="#accordion_2">
                                                <div class="card-body">
                                                    When replacing a multi-lined selection of text, the generated dummy
                                                    text maintains the amount of lines. When replacing a selection of
                                                    text within a single line, the amount of words is roughly being .
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header white-bg" id="headingTen">
                                                <h4 class="faq-top-text">
                                                    <button class="faq-accordion-btn collapsed" data-toggle="collapse"
                                                        data-target="#collapseTen" aria-expanded="false"
                                                        aria-controls="collapseTen">

                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                                                data-parent="#accordion_2">
                                                <div class="card-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End FAQ -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End FAQ area -->
            <!-- Start Subscribe area -->
            <div class="subscribe-area bg-color">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="subscribe-inner">
                                <div class="subdcribe-content">
                                    <div class="section-headline text-center">
                                        <h2>Payment methods</h2>
                                        <p>
                                        <h3>Chose Your Convinent Payment Method.</h3>
                                        </p>
                                    </div>
                                    <div class="subs-form">
                                        <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                            <input type="email" class="email form-control" id="email"
                                                placeholder="Email" required data-error="Please enter your email">
                                            <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                        </form>
                                    </div>
                                    <div class="brand-content">
                                        <div class="brand-carousel owl-carousel">
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/1.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/2.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/3.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/4.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/5.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/6.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/7.png" alt=""></a>
                                            </div>
                                            <div class="single-brand-item">
                                                <a href=""><img src="img/brand/8.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Subscribe area -->
    </main>
    <!-- Start Footer Area -->
    <footer class="footer1">
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-8">
                        <div class="footer-content logo-footer">
                            <div class="footer-head">
                                <h2>About Expert Fund Management</h2>
                                <p>
                                <h5>Expert Fund Management is a Professional, and Reliable platform. We
                                    provide you with the
                                    most necessary features that will make your experience better. Not only we guarantee
                                    the fastest and
                                    the most exciting returns on your fund, but we also guarantee the security of
                                    your fund.
                                    at all cost.</h5>
                                </p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Invest plan</h4>
                                <ul class="footer-list">
                                    <li><a href="">Silver plan</a></li>
                                    <li><a href="">Gold plan</a></li>
                                    <li><a href="">Platinum Plan</a></li>
                                    <li><a href="">Diamond plan</a></li>
                                    <li><a href="">Premium plan</a></li>
                                    <li><a href="">Custom plan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Payments option</h4>
                                <ul class="footer-list">
                                    <li><a href="">Ripple coin</a></li>
                                    <li><a href="">Bitcoin</a></li>
                                    <li><a href="">Ethireum</a></li>
                                    <li><a href="">Light coin</a></li>
                                    <li><a href="">Coin base</a></li>
                                    <li><a href="">Skrill Card</a></li>
                                    <li><a href="">Master Card</a></li>
                                    <li><a href="">Verve Card</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Accounts</h4>
                                <ul class="footer-list">
                                    <li><a href="/mysqlsignup">Signup</a></li>
                                    <li><a href="/mysqllogin">Login</a></li>
                                    <li><a href="">Privacy</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="">Condition</a></li>
                                    <li><a href="">Black night</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content last-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Support</h4>
                                <ul class="footer-list">
                                    <li><a href="">Customer Care</a></li>
                                    <li><a href="">Live chat</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="/review">Reviews</a></li>
                                    <li><a href="/terms">Terms & Condition</a></li>
                                    <li><a href="/contact">Contact us </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>
                                Copyright © 2024
                                <a href="/">Expert Fund Management</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/terms">Terms & Condition</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Poper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- Counter js -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- waypoint js -->
    <script src="js/waypoints.js"></script>
    <!-- magnific js -->
    <script src="js/magnific.min.js"></script>
    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="js/plugins.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
</body>

</html>