<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog - Expert Fund</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.png and root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">

    <!-- All css here -->

    <!-- bootstrap 4.0 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Icon font css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>


<body>
    <!-- preloader  -->
    <div id="preloader"></div>
    <!-- Start header -->
    <header class="header-one">
        <!-- Start top bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-sm-8 col-xs-12">
                        <div class="topbar-left">
                            <ul>
                                <li><a href=""><i class="fa fa-envelope"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-clock-o"></i> Live support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="topbar-right">
                            <select class="select d-inline-block">
                                <option>Eng</option>
                                <option>Esp</option>
                                <option>Fra</option>
                                <option>Deu</option>
                            </select>
                            <ul>
                                <li><a href="/mysqllogin"><img src="img/icon/login.png" alt="">Login</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- Start Header Menu -->
        <div id="sticker" class="header-menu-area header-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 d-flex align-items-center">
                        <div class="logo">
                            <a href="/"><img src="img/logo/logo.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-9">
                        <div class="header-right">
                            <a href="/mysqlsignup" class="hd-btn">Signup</a>
                        </div>
                        <div class="header_menu f-right">
                            <nav id="mobile-menu">
                                <ul class="main-menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/user-panel">Dashboard</a></li>
                                    <li><a href="/plan">Investment</a></li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/review">Reviews</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/ourteam">Our teams</a></li>
                                            <li><a href="/terms">Terms & Conditions</a></li>
                                            <li><a href="/mysqllogin">Login</a></li>
                                            <li><a href="/mysqlsignup">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="/blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="/blog">Blog</a></li>
                                            <li><a href="/blogdetails">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="contact"><a href="/contact">Contacts</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Menu -->
    </header>
    <!-- End header area -->
    <main>
        <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title text-center">
                            <h2>Latest blog</h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4 justify-content-center">
                                        <li class="breadcrumb-items"><a class="black-text" href="/">Home</a><i
                                                class="ti-angle-right" aria-hidden="true"></i></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="/blog">Latest
                                                blog</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <!-- Start Blog area -->
        <div class="blog-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Latest Blog</h2>
                            <p>Dummy text is also used to demonstrate the appearance of different typefaces and layouts
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Investor</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>The phrasal sequence of the Lorem Ipsum text.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Community</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        21 mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>Make sure the prototype looks finished by.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Media</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        14 Mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4>Designer have to make sure the prototype looks.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b4.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Profit</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 Feb, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4>Designer have to make sure the prototype looks.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b5.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Profit</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 Feb, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4>Designer have to make sure the prototype looks.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b6.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Profit</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 Feb, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4>Designer have to make sure the prototype looks.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="blog-pagination">
                            <ul class="pagination">
                                <li><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Blog area -->
        <!-- Start Subscribe area -->
        <div class="subscribe-area bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="subscribe-inner">
                            <div class="subdcribe-content">
                                <div class="section-headline text-center">
                                    <h2>Payment methods</h2>
                                    <p>Help agencies to define their new business objectives and then create
                                        professional software.</p>
                                </div>
                                <div class="subs-form">
                                    <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                        <input type="email" class="email form-control" id="email" placeholder="Email"
                                            required data-error="Please enter your email">
                                        <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                    </form>
                                </div>
                                <div class="brand-content">
                                    <div class="brand-carousel owl-carousel">
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/1.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/2.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/3.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/4.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/5.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/6.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/7.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href=""><img src="img/brand/8.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe area -->
    </main>
    <!-- Start Footer Area -->
    <footer class="footer1">
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-8">
                        <div class="footer-content logo-footer">
                            <div class="footer-head">
                                <h4>About Goldhyip</h4>
                                <p>
                                    When replacing a selection. help agencies to define their new business objectives
                                    and then create. maintains the amount of lines. When replacing a selection. help
                                    agencies to define their. maintains the amount of lines. When replacing a selection.
                                </p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Invest plan</h4>
                                <ul class="footer-list">
                                    <li><a href="">Silver plan</a></li>
                                    <li><a href="">Gold plan</a></li>
                                    <li><a href="">Platinum Plan</a></li>
                                    <li><a href="">Diamond plan</a></li>
                                    <li><a href="">Premium plan</a></li>
                                    <li><a href="">Custom plan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Payments option</h4>
                                <ul class="footer-list">
                                    <li><a href="">Ripple coin</a></li>
                                    <li><a href="">Bitcoin</a></li>
                                    <li><a href="">Ethireum</a></li>
                                    <li><a href="">Light coin</a></li>
                                    <li><a href="">Coin base</a></li>
                                    <li><a href="">Skrill card</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Accounts</h4>
                                <ul class="footer-list">
                                    <li><a href="mysqlsignup">Signup</a></li>
                                    <li><a href="/mysqllogin">Login</a></li>
                                    <li><a href="">Privacy</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="">Condition</a></li>
                                    <li><a href="">Black night</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content last-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Support</h4>
                                <ul class="footer-list">
                                    <li><a href="">Customer Care</a></li>
                                    <li><a href="">Live chat</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="">Reviews</a></li>
                                    <li><a href="">Terms & Condition</a></li>
                                    <li><a href="">Contact us </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>
                                Copyright © 2024
                                <a href="/">Expert Fund Management</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="">About</a></li>
                                <li><a href="">Terms & Condition</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Poper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- Counter js -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- waypoint js -->
    <script src="js/waypoints.js"></script>
    <!-- magnific js -->
    <script src="js/magnific.min.js"></script>
    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="js/plugins.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
</body>

</html>