<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password - Expert Fund Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div id="preloader"></div>
    <div style="min-height: 100dvh;" class="login-area area-padding fix">
        <div class="login-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center ">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <% if (typeof error !=='undefined' ) { %>
                        <p style="color: red;">
                            <%= error %>
                        </p>
                        <% } %>
                            <% if (typeof message !=='undefined' ) { %>
                                <p style="color: rgb(255, 255, 252);">
                                    <%= message %>
                                </p>
                                <% } %>
                                    <div class="login-form">
                                        <h4 class="login-title text-center">Forgot Password</h4>
                                        <form id="forgotPasswordForm" method="POST" action="/send-reset-link"
                                            class="log-form">
                                            <input type="email" name="email" id="email" class="form-control"
                                                placeholder="Email" required data-error="Please enter your email">
                                            <button type="submit" id="submit" class="slide-btn login-btn">Send Reset
                                                Link</button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                            <div class="clear"></div>
                                            <div class="acc-not">Remember your password? <a href="/mysqllogin">Login</a>
                                            </div>
                                        </form>
                                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>