<!doctype html>
<html class="no-js" lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.png and root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.ico">

    <!-- All css here -->

    <!-- bootstrap 4.0 css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- owl.transitions css -->
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- Icon font css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- style css -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>


<body>
    <!-- preloader  -->
    <div id="preloader"></div>
    <!-- Start header -->
    <header class="header-one">
        <!-- Start top bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-sm-8 col-xs-12">
                        <div class="topbar-left">
                            <ul>
                                <!--<li><a href=""><i class="fa fa-envelope"></i>governmentempowermet695@gmail.com</a></li>-->
                                <li><a href=""><i class="fa fa-clock-o"></i> Live support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="topbar-right">
                            <select class="select d-inline-block">
                                <option>Eng</option>
                                <option>Esp</option>
                                <option>Fra</option>
                                <option>Deu</option>
                            </select>
                            <ul>
                                <li><a href="/mysqllogin"><img src="img/icon/login.png" alt="">Login</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- Start Header Menu -->
        <div id="sticker" class="header-menu-area header-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 d-flex align-items-center">
                        <div class="logo">
                            <a href="/"><img src="" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-9">
                        <div class="header-right">
                            <a href="/mysqlsignup" class="hd-btn">SignUp</a>
                        </div>
                        <div class="header_menu f-right">
                            <nav id="mobile-menu">
                                <ul class="main-menu">
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/user-panel">Dashboard</a></li>
                                    <li><a href="/plan">Investment</a></li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/review">Reviews</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/ourteam">Our teams</a></li>
                                            <li><a href="/terms">Terms & Conditions</a></li>
                                            <li><a href="/mysqllogin">Login</a></li>
                                            <li><a href="/mysqlsignup">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="/blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="/blog">Blog</a></li>
                                            <li><a href="/blogdetails">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="contact"><a href="/contact">Contacts</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Menu -->
    </header>
    <!-- End header area -->
    <main>
        <!-- Start intro area -->
        <div class="intro-area intro-home">
            <div class="bg-wrapper">
                <img src="img/background/bbbbgggg4.jpeg" alt="">
            </div>
            <div class="intro-content">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="slide-all-text">
                                    <!-- layer 1 -->
                                    <div class="layer-1 wow fadeInUp" data-wow-delay="0.3s">
                                        <h2 class="title-1"><br>Safe and secure fund management.</br></h2>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-2 wow fadeInUp" data-wow-delay="0.3s">
                                        <h4 class="title-2"></h4>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-3 wow fadeInUp" data-wow-delay="0.3s">
                                        <a href="/mysqlsignup" class="ready-btn">Get Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="slide-images-inner wow fadeInUp" data-wow-delay="0.10s">
                                    <div class="slide-images">
                                        <img src="img/background/bg.jpeg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End intro Area -->
        <!-- Start Counter area -->
        <div class="counter-area fix bg-color area-padding-3">
            <div class="container">
                <!-- Start counter Area -->
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><i class="flaticon-034-reward"></i></span>
                            <div class="counter-text">
                                <h2><span class="count">50609</span>+</h2>
                                <h4>All Members</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><i class="flaticon-016-graph"></i></span>
                            <div class="counter-text">
                                <h2>$<span class="count">500000</span>k</h2>
                                <h4>Total Deposit</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-fun">
                            <span class="counter-icon"><i class="flaticon-043-world"></i></span>
                            <div class="counter-text">
                                <h2><span class="count">200</span>+</h2>
                                <h4>World Country</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Counter area -->
        <!-- Start About Area -->
        <div class="about-area bg-color fix area-padding-2">
            <div class="container">
                <div class="ro">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>About Us</h2>
                            <p>
                            <h3><b>Expert fund is a Professional, and Reliable fund management forum,
                                    We provide you with the most necessary features that will make your experience
                                    better.
                                    Not only we guarantee the fastest and the most exciting returns on your investments,
                                    but we also guarantee the security of your investment at all cost.</h3><b>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <!DOCTYPE html>
                        <html>
                        <title>W3.CSS</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                        <style>
                            .mySlides {
                                display: none
                            }

                            .w3-left,
                            .w3-right,
                            .w3-badge {
                                cursor: pointer
                            }

                            .w3-badge {
                                height: 13px;
                                width: 13px;
                                padding: 0
                            }
                        </style>

                        <body>

                            <div class="w3-container">
                            </div>
                            <div class="w3-content w3-display-container" style="max-width:500px">
                                <img class="mySlides" src="img/slider/s1.jpg" style="width:100%">
                                <img class="mySlides" src="img/slider/s2.jpg" style="width:100%">
                                <img class="mySlides" src="img/slider/s3.jpg" style="width:100%">
                                <img class="mySlides" src="img/slider/s4.jpg" style="width:100%">
                                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                                    style="width:100%">
                                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                                        onclick="currentDiv(1)"></span>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                                        onclick="currentDiv(2)"></span>
                                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                                        onclick="currentDiv(3)"></span>
                                </div>
                            </div>
                            <script>
                                var slideIndex = 1;
                                showDivs(slideIndex);

                                function plusDivs(n) {
                                    showDivs(slideIndex += n);
                                }

                                function currentDiv(n) {
                                    showDivs(slideIndex = n);
                                }

                                function showDivs(n) {
                                    var i;
                                    var x = document.getElementsByClassName("mySlides");
                                    var dots = document.getElementsByClassName("demo");
                                    if (n > x.length) { slideIndex = 1 }
                                    if (n < 1) { slideIndex = x.length }
                                    for (i = 0; i < x.length; i++) {
                                        x[i].style.display = "none";
                                    }
                                    for (i = 0; i < dots.length; i++) {
                                        dots[i].className = dots[i].className.replace(" w3-white", "");
                                    }
                                    x[slideIndex - 1].style.display = "block";
                                    dots[slideIndex - 1].className += " w3-white";
                                }
                            </script>

                        </body>

                        </html>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="support-wraper">
                    <div class="support-carousel owl-carousel item-indicator">
                        <div class="single-support">
                            <div class="support-services">
                                <img class="support-images" src="img/about/ab-icon1.png" alt="">
                                <div class="support-content">
                                    <br>
                                    <h4><b>Instant Cashout</h4></br></b>
                                    <p>All Instant Cashout are treated spontaneously once requested.
                                        There are high maximum limits. The minimum withdrawal amount is only $100.</p>
                                </div>
                            </div>
                            <div class="support-services">
                                <img class="support-images" src="img/about/ab-icon2.png" alt="">
                                <div class="support-content">
                                    <h4><b>Refferral bonus</h4></b>
                                    <p>We are offering a certain level of referral income through our referral program.
                                        you can increase your income by simply refering a few people.</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-support">
                            <div class="support-services">
                                <img class="support-images" src="img/about/ab-icon3.png" alt="">
                                <div class="support-content">
                                    <h4><b>Live Support</b></h4>
                                    <p>We provide 24/7 customer support through e-mail and telegram.
                                        Our support representatives are periodically available to elucidate any
                                        difficulty.</p>
                                </div>
                            </div>
                            <div class="support-services">
                                <img class="support-images" src="img/about/ab-icon4.png" alt="">
                                <div class="support-content">
                                    <h4><b>Super security</b></h4>
                                    <p>Comodo Essential-SSL Security encryption confirms that the presented content is
                                        genuine and legitimate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start services -->
        </div>
        </div>
        </div>
        <!-- End About Area -->
        <!-- Start Investment area -->
        <div class="invest-area bg-color-2 area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Investment plan</h2>
                            <p>
                            <h4>Pick from varieties of investment plan and enjoy huge profits</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <div class="top-price-inner">
                                <h3>SILVER PLAN</h3>
                                <div class="rates">
                                    <span class="prices">20%</span><span class="users">Weekly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $100</li>
                                <li class="check">Maximam Invest : $1000</li>
                                <li class="check">Avarage Monthly : 80% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <div class="top-price-inner">
                                <h3>GOLD PLAN</h3>
                                <div class="rates">
                                    <span class="prices">50%</span><span class="users">Weekly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $1000</li>
                                <li class="check">Maximam Invest : $10000</li>
                                <li class="check">Avarage Monthly :200% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <div class="top-price-inner">
                                <h3>PLATINUM PLAN</h3>
                                <div class="rates">
                                    <span class="prices">100%</span><span class="users">Weekly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $1000</li>
                                <li class="check">Maximam Invest : $50000</li>
                                <li class="check">Avarage Monthly : 400% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <div class="top-price-inner">
                                <h3>DIAMOND PLAN</h3>
                                <div class="rates">
                                    <span class="prices">100%</span><span class="users">Monthly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $5000</li>
                                <li class="check">Maximam Invest : $50000</li>
                                <li class="check">Avarage Monthly : 200% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <span class="base">Best sale</span>
                            <div class="top-price-inner">
                                <h3>STATE HOLDER</h3>
                                <div class="rates">
                                    <span class="prices">100%</span><span class="users">Monthly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $10000</li>
                                <li class="check">Maximam Invest : $200000</li>
                                <li class="check">Avarage Monthly : 300% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="pri_table_list text-center">
                            <span class="base">Best sale</span>
                            <div class="top-price-inner">
                                <h3>SHARE HOLDER</h3>
                                <div class="rates">
                                    <span class="prices">200%</span><span class="users">Monthly</span>
                                </div>
                            </div>
                            <ol class="pricing-text">
                                <li class="check">Minimam Invest : $20000</li>
                                <li class="check">Maximam Invest : $500000</li>
                                <li class="check">Avarage Monthly : 500% </li>
                            </ol>
                            <div class="price-btn">
                                <a class="blue" href="/deposit">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Investment area -->
        <!-- Start Choose Area -->
        <div class="choose-service-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Why choose us</h2>
                            <p>
                            <h4>Our goal is to provide our investors with a reliable source of high
                                income, while minimizing any possible risks and offering a high-quality service.</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start About -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services ">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href=""><i class="flaticon-023-management"></i></a>
                                <h4>Referral program</h4>
                            </div>
                            <div class="choose-content">
                                <p>We are offering a certain level of referral income through our referral program.
                                    you can increase your income by simply refering a few people.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start About -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services ">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href=""><i class="flaticon-036-security"></i></a>
                                <h4>Secure investment</h4>
                            </div>
                            <div class="choose-content">
                                <p>We are trusted by a huge number of people. We are working hard constantly
                                    to improve the level of our security system and minimize possible risks.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services ">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href="#"><i class="flaticon-003-approve"></i></a>
                                <h4>Registered company</h4>
                            </div>
                            <div class="choose-content">
                                <p>Our company conducts absolutely legal activities in the legal field.
                                    We are certified to operate investment business, we are legal and safe.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href=""><i class="flaticon-042-wallet"></i></a>
                                <h4>Instant withdrawal</h4>
                            </div>
                            <div class="choose-content">
                                <p>Our all retreats are treated spontaneously once requested.
                                    There are high maximum limits. The minimum withdrawal amount is only $100.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services ">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href=""><i class="flaticon-032-report"></i></a>
                                <h4>SSL Secured</h4>
                            </div>
                            <div class="choose-content">
                                <p>Comodo Essential-SSL Security encryption confirms
                                    that the presented content is genuine and legitimate.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="choose-services">
                            <div class="choose-top align-items-center">
                                <a class="choose-images" href=""><i class="flaticon-024-megaphone"></i></a>
                                <h4>24/7 support</h4>
                            </div>
                            <div class="choose-content">
                                <p>We provide 24/7 customer support through e-mail and telegram.
                                    Our support representatives are periodically available to elucidate any difficulty.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Choose area -->
        <!-- Start How to area -->
        <div class="how-to-area bg-color-2 area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2><b>How to start</b></h2>
                            <p>
                            <h4>Start with Expert Fund and Invest in a Stable and secured platform
                                Not only we guarantee the fastest and the most exciting returns of your funds,
                                but we also guarantee the security of your funds.</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how first-item">
                            <div class="how-img">
                                <span class="h-number">01</span>
                                <a class="big-icon" href=""><img src="img/about/h1.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h2><b>Get access</h2></b>
                                    <p>
                                    <h4>CREATE AN ACCOUNT</h4>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how ">
                            <div class="how-img">
                                <span class="h-number">02</span>
                                <a class="big-icon" href=""><img src="img/about/h2.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h2><b>Investment</h2></b>
                                    <p>
                                    <h4>INVEST TO PLAN</h4>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="single-how thired-item">
                            <div class="how-img">
                                <span class="h-number">03</span>
                                <a class="big-icon" href=""><img src="img/about/h3.png" alt=""></a>
                            </div>
                            <div class="how-wel">
                                <div class="how-content">
                                    <h2><b>Earn</b></h2>
                                    <p>
                                    <h4>GET PROFIT</h4>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End How to area -->
        <!--Start payment-history area -->
        <div class="payment-history-area fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline left-headline">
                            <b>
                                <h2><b>RECENT TRANSACTION
                                    </b></h2>
                                <p>
                                <h4>Here is the log of the most recent transactions including withdraw and deposit made
                                    by
                                    our users.</h4>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <!-- Start Nav tabs -->
                        <ul class="nav payment-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#tab-1" role="tab" data-toggle="tab">
                                    <span class="cha-title">Last Deposit</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-2" role="tab" data-toggle="tab">
                                    <span class="cha-title">Last Withdraw</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Nav tabs -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12">
                        <div class="tab-content">
                            <!--Start Tab Content -->
                            <div role="tabpanel" class="tab-pane fade in active show" id="tab-1">
                                <div class="deposite-content">
                                    <div class="diposite-box">
                                        <div class="deposite-table">
                                            <table>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                    <th>Currency</th>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m.png" alt="">Admond Santiago</td>
                                                    <td>Jan 03, 2024</td>
                                                    <td>$45000</td>
                                                    <td>Bitcoin</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m1.png" alt="">Jonshon</td>
                                                    <td>Jan 18, 2024</td>
                                                    <td>$100000</td>
                                                    <td>USD</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m2.png" alt="">Hopper</td>
                                                    <td>Feb 12, 2024</td>
                                                    <td>$20000</td>
                                                    <td>BNB</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m3.png" alt="">Frida</td>
                                                    <td>Feb 25, 2024</td>
                                                    <td>$50000</td>
                                                    <td>Bitcoin</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m4.png" alt="">robert</td>
                                                    <td>Mar 06, 2024</td>
                                                    <td>$35000</td>
                                                    <td>USD</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m5.png" alt="">Lagisha</td>
                                                    <td>Mar 12, 2024</td>
                                                    <td>$120000</td>
                                                    <td>Bitcoin</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-2">
                                <div class="deposite-content">
                                    <div class="diposite-box">
                                        <div class="deposite-table">
                                            <table>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Amount</th>
                                                    <th>Currency</th>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m.png" alt="">Admond sayhel</td>
                                                    <td>Jan 02, 2024</td>
                                                    <td>$70000</td>
                                                    <td>BNB</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m1.png" alt="">Jonshon</td>
                                                    <td>Jan 12, 2024</td>
                                                    <td>$50000</td>
                                                    <td>USD</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m2.png" alt="">Hopper</td>
                                                    <td>Feb 22, 2024</td>
                                                    <td>$10000</td>
                                                    <td>Ethereum</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m3.png" alt="">Admond sayhel</td>
                                                    <td>Mar 02, 2024</td>
                                                    <td>$200000</td>
                                                    <td>Bitcoin</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m4.png" alt="">Anjel july</td>
                                                    <td>Mar 15, 2024</td>
                                                    <td>$85000</td>
                                                    <td>USD</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="img/icon/m5.png" alt="">Lagisha</td>
                                                    <td>Apr 12, 2024</td>
                                                    <td>$15000</td>
                                                    <td>BNB</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End payment-history area -->
        <!-- Start payment-history area -->
        <!--<div class="profit-calculater-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Profit Calculator</h2>
                            <p>
                            <h4>You must know the calculation before investing in any plan, so you never make mistakes.
                                Check the calculation to know your profit.</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-profit-inner">
                            <div class="about-calculater">
                                <h2>About Profit Calculator</h2>
                                <p>
                                <h4>Profit Calculator is a tool that displays the profit of your investment.</h4>
                                </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="profit-calculater-inner">
                            <form class="profit-calculator">
                                <div class="row">
                                    <div class="col-lg-6 mb-30">
                                        <label>Choose Plan</label>
                                        <select class="calculater-select-bg">
                                            <option>Silver Plan</option>
                                            <option>Diamond Plan</option>
                                            <option>Platinum Plan</option>
                                            <option>State Holders</option>
                                            <option>Share Holder</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 mb-30">
                                        <label>Invest Amount</label>
                                        <input type="text" name="invest_amount" id="invest_amount" placeholder="0.00"
                                            class="form-control base--bg">
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Profit Amount</label>
                                        <input type="text" name="profit_amount" id="profit_amount" placeholder="0.00"
                                            class="form-control base--bg" disabled="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="profit-calculater-area bg-color-2 fix area-padding ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Profit Calculator</h2>
                            <p>
                            <h4>You must know the calculation before investing in any plan, so you never make mistakes.
                                Check the calculation to know your profit.</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="about-profit-inner">
                            <h2>About Profit Calculator</h2>
                            <p>
                            <h4>Profit Calculator is a tool that displays the profit of your investment.</h4>
                            </p>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="profit-calculater-inner">
                            <form class="profit-calculator" oninput="calculateProfit()">
                                <div class="row">
                                    <div class="col-lg-6 mb-30">
                                        <label>Choose Plan</label>
                                        <select class="calculater-select-bg" id="plan">
                                            <option value="0.20">Silver Plan</option>
                                            <option value="0.50">Gold Plan</option>
                                            <option value="1.00">Platinum Plan</option>
                                            <option value="2.00">Diamond Plan</option>
                                            <option value="3.00">State Holders</option>
                                            <option value="5.00">Share Holder</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 mb-30">
                                        <label>Invest Amount</label>
                                        <input type="text" name="invest_amount" id="invest_amount" placeholder="0.00"
                                            class="form-control base--bg" oninput="calculateProfit()">
                                    </div>
                                    <div class="col-lg-12">
                                        <label>Profit Amount</label>
                                        <input type="text" name="profit_amount" id="profit_amount" placeholder="0.00"
                                            class="form-control base--bg" disabled="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <!-- End payment-history area -->
        <!-- Start Reviews Area -->
        <div class="reviews-area bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="testimonial-inner">
                            <div class="review-head">
                                <h2>CUSTOMER REVIEWS</h2>
                                <p>
                                <h4>What our customer have to say about us.</h4>
                                </p>
                                <a class="reviews-btn anti-btn" href="/review">More reviews</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="Reviews-content">
                            <!-- start testimonial carousel -->
                            <div class="testimonial-carousel owl-carousel">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="img/review/2.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Katalia</h4>
                                                    <span class="guest-rev">Customer</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                            </div>
                                            <p>personally i've tried bunch of different fund management platforms
                                                companies and a lot
                                                of competitive products,
                                                but nothing was even close to the capability of Exper Fund platform and
                                                service was unmatched.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="img/review/1.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Charlotte</h4>
                                                    <span class="guest-rev">Customer</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                            </div>
                                            <p>From the minute I started Expert Fund, I have
                                                only ever received first class service.
                                                Advice is clear and, to date, reaped rewards. All the consultants I have
                                                ever dealt with have been friendly, helpful and efficient. Requests are
                                                dealt with promptly and my most recent experience has been excellent on
                                                all levels</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="img/review/3.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Daniel</h4>
                                                    <span class="guest-rev">Customer</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                            </div>
                                            <p>My experience with Exper fund has been the best.
                                                I really appreciate the knowledge and the level of professionalism and
                                                patience I received.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <div class="clients-text">
                                            <div class="testi-img ">
                                                <img src="img/review/4.jpg" alt="">
                                                <div class="guest-details">
                                                    <h4>Graham</h4>
                                                    <span class="guest-rev">Customer</span>
                                                </div>
                                            </div>
                                            <div class="client-rating">
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                                <a href=""><i class="ti-star"></i></a>
                                            </div>
                                            <p>Service and information was prompt and honest. Usually one has to make
                                                certain commitments before getting a full report and breakdown sheet
                                                with
                                                recommendations on investment advice. Would recommend to include
                                                'Exper Fund' for anyone looking for investment advice.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Reviews area -->
        <!-- Start Feature Area -->
        <div class="feature-area bg-color-2 fix area-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="feature-inner">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="feature-content">
                            <div class="feature-images">
                                <img src="#" alt="" class="first-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Feature Area -->
        <!-- Start Blog area -->
        <div class="blog-area bg-color area-padding-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="section-headline text-center">
                            <h2>Latest Blog</h2>
                            <p>
                            <h4>Get the latest news from our blog</h4>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Investor</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4>purchase our best sale and become a share holder.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Community</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        21 mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>join our community and enjoy huge benefits. More Invites more Reward</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Media</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        14 Mar, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h4>join our social media hadle and know more about us.</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="d-lg-none d-xl-none col-md-6 ">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a class="image-scale" href="#">
                                    <img src="img/blog/b4.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="blog-category">
                                    <span>Profit</span>
                                </div>
                                <div class="blog-meta">
                                    <span class="admin-type">
                                        <i class="fa fa-user"></i>
                                        Admin
                                    </span>
                                    <span class="date-type">
                                        <i class="fa fa-calendar"></i>
                                        28 Feb, 2021
                                    </span>
                                    <span class="comments-type">
                                        <i class="fa fa-comment-o"></i>
                                        32
                                    </span>
                                </div>
                                <div class="blog-title">
                                    <a href="">
                                        <h4></h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Blog area -->
        <!-- Start Subscribe area -->
        <div class="subscribe-area bg-color">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="subscribe-inner">
                            <div class="subdcribe-content">
                                <div class="section-headline text-center">
                                    <h2>Payment methods</h2>
                                    <p>chose your convinent payment method.</p>
                                </div>
                                <div class="subs-form">
                                    <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                                        <input type="email" class="email form-control" id="email" placeholder="Email"
                                            required data-error="Please enter your email">
                                        <button type="submit" id="submit" class="add-btn">Subscribe</button>
                                    </form>
                                </div>
                                <div class="brand-content">
                                    <div class="brand-carousel owl-carousel">
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/1.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/2.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/3.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/4.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/5.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/6.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/7.png" alt=""></a>
                                        </div>
                                        <div class="single-brand-item">
                                            <a href="#"><img src="img/brand/8.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe area -->
    </main>
    <!-- Start Footer Area -->
    <footer class="footer1">
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-8">
                        <div class="footer-content logo-footer">
                            <div class="footer-head">
                                <h4>About Expert Fund</h4>
                                <p>
                                    <b>Our fundings portfolio spans the power, energy, financial services,
                                        hospitality,
                                        real estate, healthcare, technology sectors. operating
                                        in more than
                                        twenty-four countries worldwide.
                                        We are inspired by Expert Fund,
                                        Chairman, Warren Buffet, CFR that the private sector is the key enabler of
                                        economic
                                        and social wealth creation in North America.
                                        Driven by this philosophy, we invest for the long-term, bringing strategic
                                        capital,
                                        sector expertise, a track record of business turnaround success and operational
                                        excellence to companies we invest in.</b>
                                </p>
                                <div class="footer-icons">
                                    <ul>
                                        <li>

                                        </li>
                                        <li>

                                        </li>
                                        <li>

                                        </li>
                                        <li>

                                        </li>
                                        <li>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content">
                            <div class="footer-head">
                                <h4>Invest plan</h4>
                                <ul class="footer-list">
                                    <li><a href="/deposit">Silver plan</a></li>
                                    <li><a href="/deposit">Gold plan</a></li>
                                    <li><a href="/deposit">Platinum Plan</a></li>
                                    <li><a href="/deposit">Diamond plan</a></li>
                                    <li><a href="/deposit">Premium plan</a></li>
                                    <li><a href="/deposit">Custom plan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Payments option</h4>
                                <ul class="footer-list">
                                    <li><a href="">Ripple coin</a></li>
                                    <li><a href="">Bitcoin</a></li>
                                    <li><a href="">Ethereum</a></li>
                                    <li><a href="">Light coin</a></li>
                                    <li><a href="">Coin base</a></li>
                                    <li><a href="">Skrill card</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Accounts</h4>
                                <ul class="footer-list">
                                    <li><a href="/mysqlsignup">Signup</a></li>
                                    <li><a href="/mysqllogin">Login</a></li>
                                    <li><a href="/user-info">Privacy</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="/terms">Condition</a></li>
                                    <!--<li><a href="/error.html">Black night</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end single footer -->
                    <div class="col-xl-2 col-lg-2 col-md-4">
                        <div class="footer-content last-content rs-mar-0">
                            <div class="footer-head">
                                <h4>Support</h4>
                                <ul class="footer-list">
                                    <li><a href="https://t.me/+LPr9VBaACzs1Y2Zk">Customer Care</a></li>
                                    <li><a href="https://t.me/+LPr9VBaACzs1Y2Zk">Live chat</a></li>
                                    <li><a href="/notifications">Notification</a></li>
                                    <li><a href="/review">Reviews</a></li>
                                    <li><a href="/terms">Terms & Condition</a></li>
                                    <li><a href="/contact">Contact us </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>
                                Copyright  2024
                                <a href="/">Expert Fund Management</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/terms">Terms & Condition</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jquery latest version -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Poper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- Counter js -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- waypoint js -->
    <script src="/js/waypoints.js"></script>
    <!-- magnific js -->
    <script src="js/magnific.min.js"></script>
    <!-- wow js -->
    <script src="/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
    <!-- profit calculator -->
    <script>
        function calculateProfit() {
            const planElement = document.getElementById('plan');
            const investAmountElement = document.getElementById('invest_amount');
            const profitAmountElement = document.getElementById('profit_amount');

            const planRate = parseFloat(planElement.value);
            const investAmount = parseFloat(investAmountElement.value);
            let profitAmount;

            if (!isNaN(planRate) && !isNaN(investAmount)) {
                switch (planElement.options[planElement.selectedIndex].text) {
                    case "Silver Plan":
                        if (investAmount >= 100 && investAmount <= 1000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 100 and 1000";
                        }
                        break;
                    case "Gold Plan":
                        if (investAmount >= 1000 && investAmount <= 10000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 1000 and 10000";
                        }
                        break;
                    case "Platinum Plan":
                        if (investAmount >= 10000 && investAmount <= 50000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 10000 and 50000";
                        }
                        break;
                    case "Diamond Plan":
                        if (investAmount >= 5000 && investAmount <= 50000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 5000 and 50000";
                        }
                        break;
                    case "State Holders":
                        if (investAmount >= 10000 && investAmount <= 200000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 10000 and 200000";
                        }
                        break;
                    case "Share Holder":
                        if (investAmount >= 20000 && investAmount <= 500000) {
                            profitAmount = investAmount * planRate;
                            profitAmountElement.value = profitAmount.toFixed(2);
                        } else {
                            profitAmountElement.value = "Amount must be between 20000 and 500000";
                        }
                        break;
                    default:
                        profitAmountElement.value = "0.00";
                        break;
                }
            } else {
                profitAmountElement.value = "0.00";
            }
        }
    </script>


</body>

</html>