<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset Password - Expert Fund Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div style="min-height: 100dvh;" class="login-area area-padding fix">
        <div class="login-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-center ">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <% if (typeof error !=='undefined' ) { %>
                        <p style="background-color: rgb(184, 184, 184); color: black;">
                            <%= error %>
                        </p>
                        <% } %>
                            <div class="login-form">
                                <h4 class="login-title text-center">Reset Password</h4>
                                <form id="resetPasswordForm" method="POST" action="/reset/<%=token%>" class="log-form">
                                    <div style="margin-bottom: 2vh;">
                                        <label for="password" style="display: block;">New Password</label>
                                        <input type="password" name="password" id="password" required>
                                    </div>
                                    <div>
                                        <label for="confirmPassword" style="display: block;">Confirm New
                                            Password</label>
                                        <input type="password" name="confirmPassword" id="confirmPassword" required>
                                    </div>


                                    <!-- <input type="hidden" name="token" value="token">
                                            <input type="password" name="password" id="password" class="form-control"
                                                placeholder="New Password" required
                                                data-error="Please enter your new password">
                                            <input type="password" name="confirmPassword" id="confirmPassword"
                                                class="form-control" placeholder="Confirm Password" required
                                                data-error="Please confirm your new password">-->
                                    <button type="submit" id="submit" class="slide-btn login-btn">Reset
                                        Password</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                    <div class="clear"></div>
                                    <div class="acc-not">Remember your password? <a href="/mysqllogin">Login</a>
                                    </div>
                                </form>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>