<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Withdraw - Expert Fund Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon.png and root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">

    <!-- All css here -->

    <!-- bootstrap 4.0 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Icon font css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!-- preloader  -->
    <div id="preloader"></div>
    <!-- Start header -->
    <div class="overlay"></div>
    <header class="header-one header-dashboard-top">
        <!-- Start top bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 col-sm-8 col-xs-12">
                        <div class="topbar-left">
                            <ul>
                                <li><a href=""><i class="fa fa-envelope"></i></a></li>
                                <li><a href=""><i class="fa fa-clock-o"></i> Live support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="topbar-right">
                            <select class="select d-inline-block">
                                <option>Eng</option>
                                <option>Esp</option>
                                <option>Fra</option>
                                <option>Deu</option>
                            </select>
                            <ul>
                                <!-- <li><a href="/login"><img src="img/icon/login.png" alt="">Login</a> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End top bar -->
        <!-- Start Header Menu -->
        <div id="sticker" class="header-menu-area header-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3 d-flex align-items-center">
                        <div class="logo">
                            <!--<a href="/"><img src="img/logo/logo2.png" alt=""></a>-->
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-9">
                        <div class="header-right">
                            <!--<a href="/signup" class="hd-btn">Signup</a>-->
                        </div>
                        <div class="header_menu f-right">
                            <nav id="mobile-menu">
                                <ul class="main-menu">
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/user-panel">Dashboard</a></li>
                                    <li><a href="/plan">Investment</a></li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/about">About us</a></li>
                                            <li><a href="/review">Reviews</a></li>
                                            <li><a href="/faq">FAQ</a></li>
                                            <li><a href="/team">Our teams</a></li>
                                            <li><a href="/terms">Terms & Conditions</a></li>
                                            <li><a href="/mysqllogin">Login</a></li>
                                            <li><a href="/mysqlsignup">Signup</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="/blog">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="/blog">Blog Grid</a></li>
                                            <li><a href="/blogdetails">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="contact"><a href="/contact">Contacts</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Menu -->
    </header>
    <!-- End header area -->
    <main>
        <!-- Start Breadcrumb Area -->
        <div class="page-area bread-pd">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-title">
                            <h2>User Withdraw </h2>
                            <div class="bread-come">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb purple lighten-4">
                                        <li class="breadcrumb-items"><a class="black-text" href="/index">Home</a><i
                                                class="ti-angle-right" aria-hidden="true"></i></li>
                                        <li class="breadcrumb-items"><a class="black-text" href="/withdraw">User
                                                Withdraw </a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Area -->
        <div class="notify-overlay"></div>
        <div class="dsahboard-area bg-color area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <aside class="sidebar">
                            <div class="dashboard-side">
                                <div class="dashboard-head">
                                    <div class="dashboard-profile">
                                        <img src="img/about/ab-icon3.png" alt="" id="face">
                                        <div class="profile-content">
                                            <span class="pro-name">
                                                <%= user.username%>
                                            </span>
                                            <span class="pro-number">
                                                <%= user.email%>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-menu">
                                    <ul>
                                        <li><a href="/user-panel"><i class="ti-dashboard"></i>Dashboard</a></li>
                                        <li><a href="/deposit"><i class="ti-wallet"></i>Deposit Money</a></li>
                                        <li class="active"><a href="/withdraw"><i class="ti-import"></i>Withdraw
                                                Money</a></li>
                                        <li><a href="/invest"><i class="ti-new-window"></i>Total Investment</a>
                                        </li>
                                        <li><a href="/transaction"><i class="ti-layout-list-thumb"></i>Transaction</a>
                                        </li>
                                        <li><a href="/notifications"><i class="ti-bell"></i>Notifications</a>
                                        </li>
                                        <li><a href="/user-info"><i class="ti-settings"></i>Settings</a></li>
                                        <li><a href="/logout"><i class="ti-shift-right"></i>Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <div class="dashboard-top">
                            <div class="userboard">
                                <div class="dashboard-header-right d-flex flex-wrap align-items-center">
                                    <div class="single-left-icon">
                                        <div class="search-inner">
                                            <form action="#">
                                                <div class="search-option">
                                                    <input type="text" placeholder="Search...">
                                                    <button class="button" type="submit"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="single-right-icon">
                                        <ul class="dashboard-right-menus">
                                            <li>
                                                <a href="#0">
                                                    <i class="ti-bell"></i>
                                                    <span class="number-1">4</span>
                                                </a>
                                                <div class="notification-area">
                                                    <div
                                                        class="notifacation-header d-flex flex-wrap justify-content-between">
                                                        <span>4 New Notifications</span>
                                                        <a href="#0">Clear</a>
                                                    </div>
                                                    <ul class="notification-body">
                                                        <li>
                                                            <a href="#0">
                                                                <div class="noti-line">deposite money from Don</div>
                                                                <span class="info-n">2 Sec ago</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#0">
                                                                <div class="noti-line">deposite money from Don</div>
                                                                <span class="info-n">2 Sec ago</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#0">
                                                                <div class="noti-line">deposite money from Don</div>
                                                                <span class="info-n">2 Sec ago</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="notifacation-footer text-center">
                                                        <a href="#0" class="view-all">View All</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#0" class="author">
                                                    <i class="ti-user"></i>
                                                </a>
                                                <div class="notification-area">
                                                    <div class="author-body">
                                                        <ul>
                                                            <li>
                                                                <a href=""><i class="ti-user"></i>Profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="/user-info"><i
                                                                        class="ti-settings"></i>Settings</a>
                                                            </li>
                                                            <li>
                                                                <a href="/logout"><i class="ti-shift-right"></i>Log
                                                                    Out</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dashboard-content">
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Deposit</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-035-savings"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Withdraw</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-041-umbrella"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Invest</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-004-bar-chart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Wallet</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-042-wallet"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Referral</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-010-cloud"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-dash-head">
                                    <div class="dashboard-amount">
                                        <div class="amount-content">
                                            <span class="pro-name">Profit</span>
                                            <span class="pro-money">$0.00</span>
                                        </div>
                                        <div class="invest-tumb">
                                            <i class="flaticon-027-money-bag"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="send-money-form transection-log">
                                    <div class="form-text">
                                        <h4 class="form-top">Last Withdraw</h4>
                                        <div class="form-inner table-inner">
                                            <table>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Transaction ID</th>
                                                    <th>Amount</th>
                                                    <th>Details</th>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                                <tr>
                                                    <td>10/03/2021</td>
                                                    <td>XE2GB4DF5X</td>
                                                    <td>$600</td>
                                                    <td>Payment recieve from Don</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Start Footer Area -->
    <footer class="footer1 dashboard-footer">
        <!-- Start Footer Bottom Area -->
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>
                                Copyright © 2024
                                <a href="">Expert Fund Management</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/about">About</a></li>
                                <li><a href="/terms">Terms & Condition</a></li>
                                <li><a href="">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
    </footer>
    <!-- End Footer Area -->

    <!-- All JS here -->

    <!-- modernizr JS -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Poper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- Counter js -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- waypoint js -->
    <script src="js/waypoints.js"></script>
    <!-- magnific js -->
    <script src="js/magnific.min.js"></script>
    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="js/plugins.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
</body>

</html>